body{
    margin:0;
    padding: 0;
    background: #ccc;
    font-family: Arial;
}

.navbar ul{
    list-style: none;
    background: sienna;
    padding: 0;
    margin: 0;
}

.navbar li{
    display: inline-block;
}

.navbar a{
    text-decoration: none;
    color:#FFF;
    width: 100px;
    display: block;
    padding:25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover{
    background: goldenrod;
}

